/*Agregado de la familia tipográfica*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*Estilo del encabezado*/
.header{
    background-color: #E8207A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}

.logo img{
    height: 35px;
    width: auto;
}

/*Botón: Iniciar sesión*/
.nav1{
    background-color: none;
    width: auto;
    padding: 10px 10px;
    border: 3px solid #FFD2DE;
    border-radius: 15px;
    font-weight: 700;
    color: #FFD2DE;
}

/*Botón: Crear cuenta*/
.nav2{
    background-color: #FFD2DE;
    padding: 13px 13px;
    border-radius: 15px;
    font-weight: 700;
    color: #013800;
}

/*Fondo y texto encima*/

/*Imagen del fondo*/
.segundo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center center;
}

/*Titulo del centro: "Te ayudamos a buscar..."*/
.titulo{
    width: 50%;
    text-align: center;
    background-color: hsla(119, 100%, 11%, 0.742);
    padding: 50px 10px;
    display: inline;
    color: #ffffff;
    border-radius: 15px;
    font-size: 200%;
    font-weight: 800;
}

/*Parte derecha: comparador de precios (Nombre,Precio,Comercio)*/
.contenido{
    background-color: azure;
    margin-left: 12%;
    margin-right: 12%;
    padding: 15px 5%;
    justify-content: space-between;
    display: flex;
    
    

}

/*Titulo2: "Comparador de precios"*/
#titulo2{
    background-color: #013800;
    padding: 15px 10px;
    margin-right: 2px;
    margin-bottom: 10%;
    border-radius: 15px;
    color: #ffffff;
}

.form{
    display: flex;
    margin-top: 25px;

}

.info{
    background-color: aquamarine;
    padding: 5px 15px;
}

/*Parte derecha de comparador de precios (producto-comercio-precio y botones)*/

/*Titulo3: Producto-comercio-precio*/
#titulo_lista{
    width: 100%;
    padding: 15px 5%;
    background-color: #013800;
    border-radius: 15px;
    color: #ffffff;
}


/*donde se visualizan los productos ingresados*/
#listaProductos{
    margin-top: 20px;
    background-color: #BFCE66;
    border-radius: 10px;
    font-weight: 500;
    color: #013800;
}

/*Estilización de botónes*/
.botones{
    height: auto;
    display: flex;
}
button{
    margin-top: 10px;
    color: aliceblue;
    font-size: 15px;
    background-color: #E8207A;
    border-radius: 15px;
    padding: 10px 5%;
    overflow: hidden;
    border: none;
}

/*Estilización de los inputs*/

.input{

        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #E91E63;
        background: rgba(#E91E63, .2);
        border-radius: .2em .2em 0 0;
        padding: .4em;
        color: #E91E63;

}

